# node_modules
**/node_modules/
/demo-app/node_modules

# parcel cache & build
/demo-app/.parcel-cache
/demo-app/backend/.env
/demo-app/frontend/dist

# python
**/__pycache__/
**/.ipynb_checkpoints/
**/venv/
.venv/
**/.env
**/*.pyc

# OS files and vscode
.DS_Store
.vscode/